* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container {
    border: 1px solid red;
    max-width: 1000px;
    /* Centraçizar o container*/
    margin: o auto;
}

nav ul {
    text-align: center;
    background-color: #333
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: white;
    /* Tamanho do testo*/
    font-size: 22px;
    padding: 15px;
    text-decoration: none;
}

nav ul a:hover {
    background-color: #555;
    color: red;
}